.boardRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardRow:nth-child(2) {
    margin-top: 5px;
}

.boardRow:nth-child(3) {
    margin-top: 5px;
}

.status {
    margin-bottom: 20px;
    color: #cccccc;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}