.board-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-row:nth-child(2) {
    margin-top: 5px;
}

.board-row:nth-child(3) {
    margin-top: 5px;
}

button {
    cursor: pointer;
    font-family: sans-serif;
    color: #cccccc;
}

.status {
    margin-bottom: 20px;
    color: #cccccc;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.game {
    display: flex;
}