.gameInfo > ol {
    margin-top: 50px;
}

.gameInfo > ol > li {
    color: #cccccc;

    margin-left: 75px;
    margin-top: 8px;
}

.gameInfo > ol > li > button {
    width: 100%;
    padding: 3px;

    background-color: #545454;

    outline: none;
    color: #cccccc;
    font-size: 1rem;

    border: 0;
    border-radius: 3px;
}